[submodule "Jeu_de_bot_skype"]
	path = Jeu_de_bot_skype
	url = https://github.com/BastienCarbonnier/Jeu_de_bot_skype.git
[submodule "Jeu_de_bot_discord"]
	path = Jeu_de_bot_discord
	url = https://github.com/BastienCarbonnier/Jeu_de_bot_discord.git
